.popup {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   background-color: transparent;
   padding: 0;
   padding-left: 0.75rem;
   padding-right: 0.75rem;

   max-height: 100%;
   z-index: 9999;
   display: none;
   justify-content: center;
   align-items: center;

   @media (min-width: 768px) {
      padding: 2.25rem;
   }

   &.active {
      display: flex;
   }

   .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
   }
}

.modal {
   background-color: rgb(38, 38, 38);
   position: relative;
   max-height: 100%;
   max-width: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   border-radius: 0.375rem;
   box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 8px 10px -6px rgba(0, 0, 0, 0.1);
   animation: fadeUp 0.4s 1 both;
   z-index: 1;

   @media (min-width: 768px) {
      max-width: 48rem;
      height: auto;
   }
}

.close {
   background-color: transparent;
   border: none;
   position: absolute;
   left: auto;
   right: 0.25rem;
   top: -1.5rem;
   width: 3rem;
   height: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;

   z-index: 10;
   cursor: pointer;

   @media (min-width: 768px) {
      right: -1.25rem;
   }

   &:hover {
      svg {
         opacity: 1;
      }
   }

   svg {
      display: block;
      color: #fff;
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0.8;

      transition: opacity 0.1s ease;
   }
}

.body {
   overflow: auto;
   position: relative;
   height: 100%;
   border-radius: 0.375rem;
   background-color: rgb(38, 38, 38);

   .video {
      position: relative;
      aspect-ratio: 16/9;

      .error {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 2rem;
         color: #ff6600;
      }
   }

   .text {
      padding: 0.75rem 1rem;

      @media (min-width: 380px) {
         padding: 1rem 1.5rem;
      }

      h1 {
         font-size: 1.125rem;
         line-height: 1.75rem;
         font-weight: 700;

         @media (min-width: 380px) {
            font-size: 1.25rem;
         }
      }

      span {
         display: none;
         font-size: 0.875rem;
         line-height: 1.25rem;
         color: rgba(255, 255, 255, 0.7);

         @media (min-width: 768px) {
            display: inline-block;
         }
      }

      p {
         font-size: 0.8125rem;
         line-height: 1.25rem;
         margin-top: 0.5rem;
         color: rgba(255, 255, 255, 0.7);

         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;

         @media (min-width: 380px) {
            font-size: 0.875rem;
         }
      }
   }
}

.footer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0.5rem 1.25rem 0.75rem;

   button {
      border: none;
      padding: 0.375rem 1.25rem;
      background-color: #737373;
      border-radius: 0.375rem;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.25rem;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
   }
}

@keyframes fadeUp {
   0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   }
   100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}
