.filmList {
   width: 100%;
   padding: 40px 0;

   .wrapper {
      max-width: 72rem;
      padding: 0 2rem;
      margin: 0 auto;

      @media (min-width: 1700px) {
         width: 70%;
      }

      @media (min-width: 2000px) {
         width: 60%;
      }

      h2 {
         font-size: 1.6rem;
         text-transform: uppercase;
         margin-bottom: 2rem;

         span {
            color: var(--clr-primary);
         }

         @media (max-width: 360px) {
            font-size: 1.3rem;
         }
      }

      .nowShowing,
      .comingSoon {
         position: relative;
      }

      .comingSoon {
         margin-top: 60px;
      }
   }
}
