.InputSelectCinema {
   border-radius: 0.25rem;
   background-color: rgb(250, 250, 250);
   margin-bottom: 1px;
   position: sticky;
   top: 0;
   z-index: 20;

   cursor: pointer;

   @media (min-width: 768px) {
      border-radius: 0;
   }

   span {
      display: none;
   }

   &.isSelect {
      border: 1px solid #ff6600;
      margin-top: 1.25rem;
      background-color: #fff;

      span {
         display: inline-block;
         position: absolute;
         top: -0.625rem;
         left: 0.5rem;
         margin-bottom: 0.5rem;
         background-color: #fff;
         padding: 0 0.25rem;

         font-size: 0.875rem;
         font-weight: 600;
         line-height: 1.25rem;
         color: #ff6600;
         z-index: 1;
      }

      .inputSelect {
         padding: 1rem 0.75rem 0.5rem;
      }

      .icon {
      }
   }
}

.container {
   padding: 0.625rem 1rem;

   & > div {
      display: flex;
      align-items: center;
   }

   .image {
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid rgb(229, 229, 229);
      border-radius: 0.25rem;

      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
      }
   }

   .inforDetails {
      min-width: 0;
      flex: 1 1 0;
      margin-left: 0.75rem;

      h4 {
         font-size: 0.9375rem;
         font-weight: 700;
         line-height: 1.25;
         color: #383838;
      }

      p {
         color: rgb(115, 115, 115);
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }

      .address {
         display: flex;
         flex-wrap: nowrap;
         font-size: 0.8125rem;
      }
   }

   .icon {
      margin-left: 0.75rem;

      svg {
         width: 1.1rem;
         height: 1.1rem;
         vertical-align: middle;
         opacity: 0.5;
      }

      span {
         display: inline-block;
         vertical-align: bottom;
         font-size: 0.8125rem;
         color: #ff6600;
      }
   }
}
