.notFound {
   min-height: 100vh;

   .wrapper {
      max-width: 50rem;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 0;

      @media (min-width: 500px) {
         padding: 2rem 2rem;
      }
   }
}

.image {
   width: 100%;

   img {
      width: 100%;
      height: 100%;
   }
}

.text {
   position: relative;
   top: -2.5rem;

   @media (min-width: 768px) {
      top: -5rem;
   }

   h2 {
      font-size: 1.5rem;
      color: #ff6600;
      margin-top: 1rem;
      text-transform: capitalize;
   }

   p {
      font-size: 0.9375rem;
      color: rgb(130, 130, 130);
      max-width: 600px;
   }

   button {
      text-transform: uppercase;
      text-decoration: none;
      background: #ff6600;
      color: #fff;
      margin-top: 1rem;
      padding: 1rem 2.5rem;
      border-radius: 12px;
      border: 1px solid #ff6600;
      font-size: 0.75rem;
      letter-spacing: 0.05rem;
      cursor: pointer;
   }
}
