.movieTheaterInfor {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   cursor: pointer;

   .image {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid rgb(229, 229, 229);
      padding: 0.25rem;
   }

   .text {
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1rem;
      color: rgb(115, 115, 115);
      text-align: center;
      width: 3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 0.5rem;
      text-transform: capitalize;
   }

   &.active {
      .image {
         border-color: #ff6600;
      }

      .text {
         color: #ff6600;
      }
   }
}
