.showTimes {
   position: relative;
   padding: 80px 0;
}

.container {
   max-width: 72rem;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
   margin: 0 auto;
   width: 100%;

   @media (min-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
   }
}

.title {
   h2 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2rem;
      color: #ff6600;
      text-align: center;
      text-transform: capitalize;

      margin-bottom: 1.25rem;
   }
}

.showTimeDetail {
   border-radius: 0.25rem;
   margin-left: -1.25rem;
   margin-right: -1.25rem;
   padding-bottom: 3rem;

   @media (min-width: 768px) {
      border: 1px solid;
      border-color: rgb(229, 229, 229);
      margin-left: 0;
      margin-right: 0;
   }
}
