.checkout {
   background-color: var(--clr-white);
   color: var(--clr-black);
   position: relative;
   min-height: 90vh;
   height: auto;

   .main {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (min-width: 960px) {
         flex-direction: row;
      }
   }
}
