.cinemaItem {
   position: relative;
   padding: 0.5rem 1rem;
   border-top: 1px solid rgb(245, 245, 245);
   cursor: pointer;

   &.active {
      background-color: rgba(255, 102, 0, 0.2);
   }
}

.wrapper {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;

   .img {
      height: 2.25rem;
      width: 2.25rem;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      border: 1px solid rgb(229, 229, 229);
      background-color: rgb(255, 255, 255);

      img {
         width: 100%;
         height: 100%;
      }
   }

   .text {
      min-width: 0;
      flex: 1 1 0%;
      padding-left: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.25;
      color: rgb(38, 38, 38);
   }

   .icon {
      flex: none;
      align-self: center;
      display: none;

      @media (min-width: 768px) {
         display: block;
         padding-left: 0.75rem;
      }

      svg {
         width: 1.1rem;
         height: 1.1rem;
         color: rgb(163, 163, 163);
         vertical-align: middle;
      }
   }
}
