.ticketBookingInPut {
   padding: 18px;
   box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
   width: 100%;

   margin: 0 auto;
   border-radius: 6px;
   position: relative;
   top: 0;
   z-index: 1;
   background: #fff;
   display: none;
}

/*
=============================================
               RESPONSIVE
=============================================
*/
@media screen and (min-width: 1200px) {
   .ticketBookingInPut {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

@media screen and (min-width: 1700px) {
   .ticketBookingInPut {
      max-width: 77rem;
      top: -50px;
   }
}
