.showTimeList {
   display: grid;
   margin-top: 1rem;
   gap: 0.75rem;
   grid-template-columns: repeat(2, minmax(0, 1fr));

   @media (min-width: 360px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }

   @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
   }

   @media (min-width: 860px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}

.showTimeItem {
   border: 1px solid var(--clr-border4);
   background-color: var(--clr-bg7);
   border-radius: 0.375rem;
   padding: 0.25rem 0.5rem;
   font-size: 0.8125rem;
   text-align: center;
   color: var(--clr-text4);
   white-space: nowrap;
   font-size: 0.9rem;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.3s ease;

   strong {
      font-weight: 700;
   }

   &:hover {
      color: var(--clr-white);
      background-color: var(--clr-hover-showtimes);
      border-color: var(--clr-hover-showtimes);
   }
}
