.container {
   max-width: 72rem;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
   margin: 0 auto;
   width: 100%;

   @media (min-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
   }
}

.moviePoster {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #000;
   color: rgba(255, 255, 255, 0.95);
   min-height: 500px;

   padding-top: 1.5rem;
   padding-bottom: 1.5rem;

   .background {
      position: absolute;
      top: 0;

      width: 100%;

      background-image: url("../../../../public/images/backgroundBlack.jpg");

      background-position: left top;
      background-size: 130%;
      height: 250px;

      z-index: 0;
      overflow: hidden;

      @media (min-width: 768px) {
         background-size: cover;
         background-repeat: no-repeat;
         background-position: right -200px top;
         height: 100%;
      }

      &::before {
         content: "";
         z-index: 2;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;

         background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 150px,
            rgba(0, 0, 0, 0.6) 100%
         );
      }
   }

   .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      @media (min-width: 768px) {
         flex-wrap: nowrap;
      }
   }
}

.movieImg {
   position: relative;
   margin-bottom: 1rem;
   width: 100%;

   @media (min-width: 768px) {
      margin-bottom: 0;
      width: auto;
   }

   & > div {
      width: 8rem;
      border: 1px solid;
      border-color: hsla(0, 0%, 100%, 0.2);

      @media (min-width: 768px) {
         width: 16rem;
         margin: 0 auto;
      }
   }

   img {
      display: block;
      width: 100%;
   }

   .btnTrailer {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3.5rem;
      height: 3.5rem;
      transform: translate(-50%, -50%) scale(1);
      z-index: 12;

      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.3s;

      cursor: pointer;

      @media (min-width: 768px) {
         width: 4rem;
         height: 4rem;
      }

      &:hover {
         transform: translate(-50%, -50%) scale(1.1);
      }

      svg {
         display: block;
      }
   }
}

.movieDescription {
   position: relative;
   margin-left: 0;
   width: 100%;

   z-index: 10;

   @media (min-width: 768px) {
      margin-left: 2.5rem;
      width: auto;
   }

   .ageLimit {
      display: inline-flex;
      height: 1.25rem;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1rem;
      color: rgba(255, 255, 255, 0.95);

      border-radius: 0.125rem;
      padding: 0 0.5rem;
      align-items: center;
      background-color: #e88021;
   }

   h1 {
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;

      margin-top: 0.5rem;

      @media (min-width: 768px) {
         font-size: 2.25rem;
         line-height: 2.5rem;
      }
   }

   h3 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.75rem;
      color: rgba(255, 255, 255, 0.95);

      margin-top: 1.125rem;
   }

   .text {
      font-size: 0.875rem;
      line-height: 1.625;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 0.5rem;

      span {
         color: rgb(252, 211, 77);
         padding-left: 0.25rem;

         cursor: pointer;
      }
   }

   .anotherDescription {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgb(64, 64, 64);
      margin-top: 0.75rem;
      margin-bottom: 0.5rem;
      gap: 1.25rem;

      display: flex;
      flex-wrap: nowrap;

      p {
         white-space: nowrap;
         color: rgba(255, 255, 255, 0.5);
      }

      span {
         font-weight: 700;
         color: rgba(255, 255, 255, 0.9);
         margin-top: 0.25rem;
      }
   }
}
